<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="pk.eyJ1IjoiZ2FlbGplcm9wIiwiYSI6ImNrb2k2OWJ1ZjB1ODgycHBuMzlzc2Z4ZDcifQ.BgdkXfCwq1F4wooVhN2uSQ"></div>
